{% extends 'shopmen/base.html' %}

{% block title %}Домашнее задание №2 и №3 {% endblock %}

{% block content %}
<h1>Домашнее задание по  семинару 2 и 3.</h1>
<p>Тема задания: Работа с моделями. Работа с представлениями и шаблонами</p>
<br>
<p>Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени:</p>
<p>— за последние 7 дней (неделю)</p>
<p>— за последние 30 дней (месяц)</p>
<p>— за последние 365 дней (год)</p>
<p>Товары в списке не должны повторятся</p>
<br>
<a href="http://127.0.0.1:8000/basket">задание 1</a>
{% endblock %}

